.top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.heading {
  display: block;
  text-align: center;
  background-color: #5e5c63;
  border-bottom-style: solid;
  border-bottom-width: 0.5%;
  width: 100%;
  margin: 0px auto;

}

#heading img {
  padding-top: 0.1%;
}

.topnav {
  overflow: hidden;
  background-color: #5e5c63;

}
.topnav a {
  float: left;
  margin-right: auto;
  margin-left: auto;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #e9e9e9;
  color: black;
}


#border {
  text-align: center;
  border-style: solid;
  border-right-style: dotted;
  border-left-style: dotted;
  border-radius: 5px;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}
#ukraineIntro {
  padding-top: 1%;
  align-content: center;
  display: block;
  top: -10%;
  text-align: left;
  font-size: 100%;
}

#slava {
  font-size: 80%;
}


.quote {
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

.quote a {
  font-size: 80%;
}

.ending {
  font-size: 70%;
  text-align: center;
}
footer {
  text-align: center;
  background-color: #5e5c63;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}
